# Logs
logs
*.logRecord
npm-debug.logRecord*
yarn-debug.logRecord*
yarn-error.logRecord*
pnpm-debug.logRecord*
lerna-debug.logRecord*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
