.senderPrompt {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.speech-button .ant-btn{
  width: 16px;
  height: 16px;
}

.chat-clear-button-text{
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  line-height: 20px;
  text-align: left;
  font-style: normal;
}